AuthUserFile /www/htdocs/w01d2f45//webseiten/_privat/ramm-ruednitz/.htpasswd
AuthGroupFile /dev/null
AuthName "Ramm Ruednitz"
AuthType Basic
require valid-user
ErrorDocument 401 //fehlermeldungen/401.html
ErrorDocument 403 //fehlermeldungen/403.html
ErrorDocument 404 //fehlermeldungen/404.html
ErrorDocument 500 //fehlermeldungen/500.html

# CSS, JS, ICO-Dateien ohne Authentifizierung
<FilesMatch "\.(css|js|ico)$">
  Require all granted
</FilesMatch>

# Shopware & eigene Ausnahmen: /api UND /SOR ausschließen
SetEnvIf Request_URI ^/api noauth=1
SetEnvIf Request_URI ^/SOR(/|$) noauth=1
SetEnvIf Request_URI ^/SOR/index\.php$ noauth=1